* {
    box-sizing: border-box;
  }
  
  /* credits: john paul maja */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 50%;
    margin: auto;
    background-color: #c4e9ff;
  }

  .header {
    padding: 20px;
    text-align: center;
  }

  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: #6f9ad4;
    position: sticky;
    text-align: center;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #666;
    color: white;
  }
  
  
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background-color: #6f9ad4;
    margin-top: 20px;
    color: white;
  }
  
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a,body {
      float: none;
      width: 100%;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ddffff;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    font-family: 'Mukta', sans-serif;
    border-bottom: 1px solid #c4e9ff;
  }
  
  tr{
    font-family: 'Fira Sans', sans-serif;
  }
  
  th {
    background-color: #003366;
    color: white;
  }

.box{
	 position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  padding: 0 20px;
  right: 13%;
margin-left: auto;
margin-right: auto;

}
.insidebox{
display: flex;
  max-width: 800px;
margin: 0 auto;
  background: rgba(0,0,0,0.8);
  padding: 65px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.txtholder{
	margin-top: -40px;
	
}

.detail{
	position: relative;
	right: -23%;
	top: -25%;
	margin: 0 auto;
  background: transparent;
  border: 0px;
  padding: 12px;
  color: #f1f1f1;
  width: 70%;
}

.send{
	background: #000;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  color: #f1f1f1;
  cursor: pointer;
  text-transform: uppercase;
	position: absolute;
	margin-left: -18%;
	margin-top: 60px;
}
.send:hover {
  background-color: grey;
}

h1{
  font-family: 'Baloo Chettan', cursive;
  color: white;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

input[type=text], select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 30%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type=submit] {
  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 45%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.category{
  text-align: center;
}
